fastapi==0.115.0
uvicorn==0.30.0
sqlalchemy==2.0.36
loguru==0.7.2
apscheduler==3.10.4
pyvirtualdisplay==3.0
selenium==4.36.0
webdriver-manager==4.0.2
python-dotenv==1.1.1
ruff==0.14.1
sqlite-utils==3.38
sqlite-vss==0.1.2
openai==2.6.0
numpy==2.3.4